@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/Roboto-Regular");
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow'
}

.header-padding {
  padding-top: 40px;
}

.alert-div {
  position: absolute;
  top: 72px;
}
