<% stockdata = StockDataFinder::Client.display_stocks%>
<div class="fixed bottom-0 max-w-full w-screen flex flex-row items-center justify-center p-2 w-full bg-gray-900 text-gray-100 text-base justify-end">
  <h1 class="text-base text-white">This web application was created for programming practice purposes only</h1>
  <div class="absolute left-3 flex flex-row items-center justify-center">
    <%= stockdata %>
  </div>
  <div class="absolute right-3">
    <button class="text-white font-bold"><%= link_to "Market News", news_path %></button>
  </div>
</div>